<h1 class="text-center m-5">CINEMACACO</h1>
<div class="text-center">
  <button id="coposButton"
          class="btn btn-primary main-menu-button"
          (click)="onCoposClick()">
          Copos
  </button>
  <button id="notCoposButton"
          class="btn btn-primary main-menu-button"
          (click)="onNotCoposClick()">
          Not Copos
  </button>
  <button id="resultsButton"
          class="btn btn-primary main-menu-button"
          (click)="onResultsClick()">
          Results
  </button>
</div>