<h1 class="text-center m-5">CINEMACACO</h1>
<div class="text-center">
  <button
    id="macacoButton"
    class="btn btn-primary main-menu-button"
    (click)="onMacacoClick()"
  >
    Macaco
  </button>
  <button
    id="humanoButton"
    class="btn btn-primary main-menu-button"
    (click)="onHumanoClick()"
  >
    Humano
  </button>
  <button
    id="adminButton"
    class="btn btn-primary main-menu-button"
    (click)="onAdminClick()"
  >
    Admin
  </button>
  <button
    id="resultsButton"
    class="btn btn-primary main-menu-button"
    (click)="onResultsClick()"
  >
    Results
  </button>
  <button
    id="loginButton"
    class="btn btn-primary main-menu-button"
    (click)="onLoginClick()"
  >
    Login
  </button>
</div>
