<h1 class="text-center m-5">CINEMACACO</h1>
<div class="text-center">
  <button id="voteButton" class="btn btn-primary main-menu-button" (click)="onVoteClick()">
    Vote
  </button>
  <button id="adminButton" class="btn btn-primary main-menu-button" (click)="onAdminClick()">
    Admin
  </button>
  <button id="loginButton" class="btn btn-primary main-menu-button" (click)="onLoginClick()">
    Login
  </button>
  <button id="resultsButton" class="btn btn-primary main-menu-button" (click)="onResultsClick()">
    Results
  </button>
</div>